/* Common Fonts Style*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* Assigned Same Font for all */
*{
    font-family: 'Mulish', sans-serif;
    background: white;
}
header{
    padding: 50px 100px;
}
/* Header Section Design */
.name{
    color: #131318;
    font-size: 30px;
    font-weight: 800;
    margin-right: 700px;
    margin-top: 5px;
}
.links{
    color: #424247;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}
.home{
    color: #FF5400;
    font-weight: 700;
}
.logo{
    display: flex;
    gap: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
}
header img{
    width: 48px;
    height: 56px;
    margin-top: 0px;
}
nav > ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
}
nav a{
    text-decoration: none;
    color: #424247;
}
